<!DOCTYPE html>
<html lang="da">
<head>
    <title>Resurcer Til Hjemløse</title>
    <meta charset="UTF-8">
    <meta name="description" content="Eksamensopgave">
    <meta name="keywords" content="eksamen, html, css, javascript">
    <meta name="author" content="Morten Olsen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<!-- Header-->
<div class="header">
    <h1>Mefi</h1>
    <p>Støtte Til Hjemløse</p>
</div>

<!-- Navbar-->
<div class="navBar">
    <a href="/">Start</a>
    <a id="active" href="/resurcer">Resurcer</a>
    <a href="/indtastning">Indtastning</a>
    <a href="/moduleJSON">Offentlige Toiletter JSON</a>
    <a href="/moduleTable">Offentlige Toiletter Tabel</a>
    <a href="/api/resurse">Resurcer JSON</a>
</div>

<!-- Content-->
<div class="content">

    <h1>Resurcer Til Hjemløse</h1>

    <table id="table">
        <tr>
            <th>By</th>
            <th>Kategori</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Adresse</th>
            <th>Telefon</th>
            <th>Åbningstider</th>
            <th>Webside</th>
        </tr>
        <tr>
            <td>Næstved</td>
            <td>Bosted</td>
            <td>Flexbostøtten</td>
            <td>Hjælper med bolig</td>
            <td>Eksempelvej 10</td>
            <td>92382913</td>
            <td>Ma-To 14-16</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Roskilde</td>
            <td>Mad</td>
            <td>Fristedet</td>
            <td>Hjælper med bolig</td>
            <td>Eksempelvej 16</td>
            <td>19238293</td>
            <td>Ti-To 14-16</td>
            <td>https://fristedetx.dk</td>
        </tr>
    </table>

</div>

<!-- Footer-->
<div class="footer">
    <p>Skabt af Morten Olsen</p>
    <p id="dateTime">18.12.2019 09.51.16</p>
</div>

<script src="/javascripts/scripts.js"></script>

</body>
</html>
